*{
    margin: 0;
	padding: 0;
	text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    height:300vh;
}

.square-wrapper{
    border:1px solid red;
    width:75%;
    margin:20px auto;
    height:200px;
    position:relative;
    bottom:0;
}

.square-wrapper .square.purple{
    width:50px;
    height:50px;
    background:purple;
    position: fixed;
    top:0;
    left:50%;
}

.square-wrapper .square.peru{
    width:50px;
    height:50px;
    background:peru;
    position: absolute;
    left:calc( 50% - 25px);
    top:calc( 50% - 25px)
}

.square-wrapper .line{
    position:absolute;
    left:50%;
    border-left:1px solid red;
    top:0;
    height:200px;
}

.square-wrapper .line-h{
    position:absolute;
    top:50%;
    border-top:1px solid red;
    width:100%;
}

.flex-wrapper{
    border:1px solid red;
    width:75%;
    margin:20px auto;
    height:100px;
    display:flex;
}

.flex-wrapper .square{
    width:50px;
    height:50px;
}

.flex-wrapper .square.purple{
    background:purple;
}

.flex-wrapper .square.blue{
    background:blue;
}

.flex-wrapper .square.yellow{
    background:yellow;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-baseline{
    align-items: flex-baseline;
}
.align-items-stretch{
    align-items: flex-stretch;
}

.align-items-stretch .square{
    height:unset
}


